.subreddits-container{
    display: inline-block;
    flex-wrap: wrap;
    max-height:40rem;
    height: auto;
    max-width: 20rem;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px 12px;
    border: 0.5px solid rgba(143, 143, 206, 0.198);
    border-radius: 10px;
    position: fixed;
    padding-top: 10px;
    top: 9rem;
}
.img-subreddit{
    border-radius: 50%;
    width: 20px;
    margin: 5px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.text-subreddit{
    position: relative;
    bottom: 10px;
    color: rgb(143, 143, 206);
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;

}

.text-subreddit:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color:rgb(143, 143, 206);
    border-radius: 5px;
    padding: 6px;
}

.sub-title{
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    font-family: elvetica, sans-serif;
}

@media screen and (max-width: 1300px) {
    .subreddits-container{
        height: 300px;
        position:relative;
        top: 0;
        max-width: 70rem;
        
}
}

@media screen and (max-width: 1300px) {
    .comments{
        width: 30rem;
    }
    .card-list{
        width: 40rem;
    }
    .subreddits-container{
        display: block;
        max-width: 30rem;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 600px) {
    .subreddits-container{
        display: flex;
      max-width: 22rem;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    
    }

}