.subreddits-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   
    height: auto;
    max-height: 20rem;
    width: 20rem;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.options {
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.options:hover {
    color: #007bff;
}

.img-subreddit {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
